<template>
  <div>
    <v-row>
      <v-col cols="12 pt-0 pb-0" sm="5">
        <v-text-field
          v-model="startDate"
          prepend-icon="mdi-calendar"
          hide-details
          @click="startDateFitle = !startDateFitle"
        />
        <v-dialog v-model="startDateFitle" width="300px">
          <v-date-picker
            v-model="startDate"
            type="month"
            width="240"
            :max="new Date().toISOString().substr(0, 10)"
          ></v-date-picker>
        </v-dialog>
      </v-col>
      <v-col cols="12 pt-5 pb-0" sm="2">
        <v-icon small>mdi-tilde</v-icon>
      </v-col>
      <v-col cols="12 pt-0 pb-0" sm="5">
        <v-text-field
          v-model="endDate"
          hide-details
          @click="endDateFitle = !endDateFitle"
        />
        <v-dialog v-model="endDateFitle" width="300px">
          <v-date-picker
            type="month"
            v-model="endDate"
            width="240"
            :max="new Date().toISOString().substr(0, 10)"
          ></v-date-picker>
        </v-dialog>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        class="d-flex"
        cols="12"
        sm="6"
      >
        <v-select
          v-model="topicItem"
          :items="topicItems"
          chips
          label="Topic"
          outlined
        ></v-select>
        <v-select
          v-model="topicOption"
          :items="topicOptions"
          label="keywords"
          chips
          outlined
        ></v-select>
      </v-col>
      <v-col v-if="showImg2">
        <v-select
          v-model="pairsItem"
          :items="pairsItems"
          label="pairs"
          attach
          multiple
          chips
          outlined
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <img class="imgSize" v-if="showImg" src="@/assets/images/Unknown.png">
      <img class="imgSize" v-if="showImg2" src="@/assets/images/Unknown-2.png">
    </v-row>
  </div>
</template>

<script>

export default {
  data: () => ({
    topicItem: '',
    topicItems: [
      "competitor","supply","industry","production"
    ],
    topicOption: '',
    topicOptions: [],
    pairsItem: [
      "demand",
      "supply",
      "capacity",
      "shortage",
      "oversupply",
      "marketing",
      "revenue",
      "margin",
      "equipment",
      "expectation"
    ],
    pairsItems: [
      "demand",
      "supply",
      "capacity",
      "shortage",
      "over booking",
      "oversupply",
      "marketing",
      "revenue",
      "margin",
      "equipment",
      "utilization rate",
      "expectation",
      "price",
      "cost",
      "density",
      "low",
      "high",
      "resource",
      "raise",
      "upside",
      "slowdown",
      "application",
    ],
    showImg: false,
    showImg2: false,
    startDate: "2015-01",
    endDate: "2020-01",
    startDateFitle: false,
    endDateFitle: false,
  }),
  watch: {
    topicOption(newValue) {
      this.showImg = false;
      if("Samsung" === newValue) {
        this.showImg2 = true;
      }
    },
    topicItem(newValue) {
      // 初始化 topic Options
      this.topicOptions = [];
      this.showImg = false;
      if("competitor" === newValue) {
        this.showImg = true,
        this.topicOptions = [
          "SK Hynixs",
          "Samsung",
          "Elite",
          "Nanya",
          "Winbond",
          "Zintel",
          "AP Memory",
          "ISSI",
          "Micron",
          "Intel"
        ]
      } else if ("supply" === newValue) {
        this.topicOptions = [
          "PSMC",
          "PTC",
          "TSMC",
          "SMIC",
          "VIS",
          "MXIC",
          "UMC",
          "KYEC",
          "GTK",
          "PTI",
          "TERAPOWER",
          "FATC",
          "CHIPMOS"
        ]
      } else if ("industry" === newValue) {
        this.topicOptions = [
          "SSD",
          "HDD",
          "Netcom",
          "Automotive electronics",
          "TFT-LCD",
          "Display",
          "Server",
          "Louter",
          "Wireless",
          "NB",
          "PC",
          "IP",
          "CAM",
          "DDR"
        ]
      }  else if ("production" === newValue) {
        this.topicOptions = [
          "DRAM",
          "SRAM",
          "Memory",
          "NAND",
          "FLASH",
          "Industry"
        ]
      }
    }
  },
}
</script>
<style>
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button:focus{
  outline:none;
}
button:active{
  outline:none;
}
input:focus{
  outline:none;
}
input:active{
  outline:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
 .imgSize{
   width: 1200px;
   height: 500px;
 }
</style>
